* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  color: #777;
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  border: 1px solid #eee;
  padding: 12px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 12px;
  background-color: darkslategray;
  color: white;
  border: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: white;
  color: darkslategray;
}

button:disabled {
  cursor: default;
  background-color: #7c5cbf94;
}

.centered-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  padding: 25px;
  width: 250px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}
